<section class="body">
  <div class="container py-5">
    <div class="row justify-content-center body-titulo">
      <div class="col-10 pt-4 body-header">
        <div class="row align-items-center">
          <div class="col-3 d-flex justify-content-center">
            <img src="/imagenes/logotipo.png" class="img-responsive" />
          </div>
          <div class="col-8">
            <div class="title">
              <h2>Bitacora de Actividades</h2>
              <p class="subtitle">
                Registra tus <b>actividades</b> realizadas durante tu horario de
                trabajo
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card col-10 mt-3">
        <div class="card-body">
          <div class="accordion" id="accordion-form">
            <div class="accordion-item">
              <h5
                class="card-title accordion-button {{
                  cache.bitacora.id_bitacora == null ? '' : 'collapsed'
                }}"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-form"
                [attr.aria-expanded]="
                  cache.bitacora.id_bitacora == null ? 'true' : 'false'
                "
                aria-controls="collapse-form"
              >
                @if(cache.bitacora.id_bitacora == null) { Registro de Actividad
                }@else {
                <strong>{{ cache.bitacora.titulo }}</strong>
                }
              </h5>
            </div>
            <form
              #miFormulario="ngForm"
              class="row needs-validation collapse g-1 {{
                cache.bitacora.id_bitacora == null ? 'show' : ''
              }}"
              id="collapse-form"
              aria-labelledby="headingOne"
              data-bs-parent="#accordion-form"
              novalidate
              (ngSubmit)="enviarFormularioBitacora()"
            >
              <div class="field padding-bottom--24 col-md-2 col-sm-12">
                <label for="tipo_bitacora" class="required">Bitacora</label>
                <select
                  [(ngModel)]="cache.bitacora.tipo_bitacora"
                  class="form-select"
                  name="tipo_bitacora"
                  (change)="actualizarCache()"
                  required
                  #tipo_bitacora="ngModel"
                  [class.is-invalid]="
                    tipo_bitacora.invalid && tipo_bitacora.touched
                  "
                >
                  <option value="1">MAI</option>
                  <option value="2">SCE</option>
                  <option value="3">MPR</option>
                </select>
                <div class="invalid-feedback">*Campo obligatorio*</div>
              </div>
              <div class="field padding-bottom--24 col-md-2 col-sm-12">
                <label for="reporte">Reporte</label>
                <input
                  type="text"
                  name="reporte"
                  id="reporte"
                  [(ngModel)]="cache.bitacora.folio_reporte"
                  placeholder="000-00-00"
                  style="text-transform: uppercase"
                  class="form-control"
                  disabled
                />
                <div class="invalid-feedback">*Campo obligatorio*</div>
              </div>
              <div class="field padding-bottom--24 col-md-4 col-sm-12">
                <label for="cliente" class="required">Cliente</label>
                <select
                  [(ngModel)]="cache.bitacora.cliente_id"
                  class="form-select"
                  (change)="recuperarFolio()"
                  name="cliente_id"
                >
                  <option value="0">SELECCIONA EL CLIENTE</option>
                  @for(cliente of catalogos.clientes; track $index) {
                  <option [value]="cliente.id_cliente">
                    {{ cliente.cliente }}
                  </option>
                  }
                </select>
              </div>
              <div class="field padding-bottom--24 col-md-4 col-sm-12">
                <label for="sitio_id" class="required">Sitio</label>
                <select
                  [(ngModel)]="cache.bitacora.sitio_id"
                  class="form-select"
                  name="sitio_id"
                  (change)="setSitio()"
                  required
                  #sitio_id="ngModel"
                  [class.is-invalid]="sitio_id.invalid && sitio_id.touched"
                >
                  <option value="0">SELECCIONA EL SITIO</option>
                  @for(sitio of catalogos.sitios; track $index) {
                  <option [value]="sitio.id_sitio">{{ sitio.sitio }}</option>
                  }
                </select>
                <div class="invalid-feedback">*Campo obligatorio*</div>
              </div>
              <div class="field padding-bottom--24 col-md-9 col-sm-12">
                <label for="responsable" class="required">Responsable</label>
                <input
                  type="text"
                  class="form-control"
                  name="responsable"
                  placeholder="Ingresa el nombre del responsable"
                  [(ngModel)]="cache.bitacora.responsable"
                  (input)="actualizarCache()"
                  required
                  #responsable="ngModel"
                  [class.is-invalid]="
                    responsable.invalid && responsable.value > 0
                  "
                />
                <div class="invalid-feedback">*Campo obligatorio*</div>
              </div>
              <div class="field padding-bottom--24 col-md-3 col-sm-12">
                <label for="fecha" class="required">Fecha</label>
                <input
                  type="date"
                  class="form-control"
                  name="fecha"
                  [(ngModel)]="cache.bitacora.fecha"
                  (change)="actualizarCache()"
                  required
                  #fechaRef="ngModel"
                  [class.is-invalid]="fechaRef.invalid && fechaRef.touched"
                />
                <div class="invalid-feedback">*Campo obligatorio*</div>
              </div>
              <div class="field padding-bottom--24 col-sm-12">
                <label for="proyecto" class="required">Proyecto</label>
                <input
                  type="text"
                  class="form-control"
                  name="proyecto"
                  placeholder="Ingresa el proyecto o sitio"
                  [(ngModel)]="cache.bitacora.proyecto"
                  (input)="actualizarCache()"
                  required
                  #proyecto="ngModel"
                  [class.is-invalid]="proyecto.invalid && proyecto.value > 0"
                />
              </div>
              <div
                class="d-flex justify-content-end align-items-center mt-3 gap-2"
              >
                <button
                  class="btn btn-success"
                  [disabled]="miFormulario.invalid"
                >
                  @if(funciones.bLoad) {
                  <div class="spinner"></div>
                  } @else {
                  {{
                    cache.bitacora.id_bitacora == null ? "Iniciar" : "Editar"
                  }}
                  }
                </button>
              </div>
              <div class="col-12 mt-2">
                <app-alerta
                  class="w-100"
                  message="{{ funciones.alerta.sMessage }}"
                  type="{{ funciones.alerta.sTipo }}"
                  isVisible="{{ funciones.alerta.bShow }}"
                >
                </app-alerta>
              </div>
            </form>
          </div>
        </div>
      </div>
      @if(cache.actividades.length > 0) {
      <div class="col-10 px-0 mt-2">
        <h5 class="title-section m-0 p-0">Mis actividades</h5>
      </div>
      } @if(session != null) {
      <div class="col-10 px-0 mb-2">
        <div class="row d-flex justify-content-end w-100 px-0">
          <fa-icon
            class="btn btn-success text-white"
            (click)="nuevaActividad()"
            [icon]="['fas', 'circle-plus']"
            style="width: fit-content"
          ></fa-icon>
        </div>
      </div>
      }
      <!-- Componente de la cámara web -->
      <app-webcam
        style="z-index: 10"
        [images]="currentFotografias"
        (photosEvent)="onPhotosCaptured($event)"
        [isModalOpen]="isWebcamModalOpen"
        (modalClosed)="onWebcamModalClosed()"
      >
      </app-webcam>
      @for(actividad of cache.actividades; track $index) {
      <div class="card col-10 {{ $index > 0 ? 'mt-2' : '' }}">
        <div class="card-body">
          <div class="accordion" id="accordion-actividad{{ $index }}">
            <div class="accordion-item">
              <h5
                class="card-title accordion-button {{
                  actividad.id_actividad == 0 || actividad.alerta == 'true'
                    ? ''
                    : 'collapsed'
                }}"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse-form' + $index"
                [attr.aria-expanded]="
                  actividad.id_actividad == 0 || actividad.alerta == 'true'
                    ? 'true'
                    : 'false'
                "
                [attr.aria-controls]="'collapse-form' + $index"
              >
                {{
                  actividad.id_actividad == 0
                    ? "ACTIVIDAD #" + ($index + 1)
                    : actividad.titulo
                }}
              </h5>
            </div>
            <form
              class="row needs-validation accordion-collapse collapse {{
                actividad.id_actividad == 0 || actividad.alerta == 'true'
                  ? 'show'
                  : ''
              }}"
              id="collapse-form{{ $index }}"
              [attr.data-bs-parent]="'#accordion-actividad' + $index"
              (ngSubmit)="enviarFormularioActividad(actividad, $index)"
            >
              <div class="field padding-bottom--24 col-md-6">
                <label for="orden_trabajo" class="required"
                  >Orden de trabajo (OT)</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="orden_trabajo"
                  placeholder="Ingresa el OT"
                  (input)="actualizarCache()"
                  [(ngModel)]="actividad.orden_trabajo"
                />
                <div class="invalid-feedback">*Campo obligatorio*</div>
              </div>
              <div class="field padding-bottom--24 col-md-6 col-sm-12">
                <label for="equipo" class="required">Equipo</label>
                <input
                  type="text"
                  class="form-control"
                  name="equipo"
                  (input)="actualizarCache()"
                  placeholder="Ingresa el Equipo"
                  [(ngModel)]="actividad.equipo"
                />
                <div class="invalid-feedback">*Campo obligatorio*</div>
              </div>
              <div class="field padding-bottom--24 col-md-8">
                <label for="observacion" class="required">Observación</label>
                <textarea
                  type="text"
                  class="form-control description"
                  name="observacion"
                  (input)="actualizarCache()"
                  placeholder="Ingresa tus observaciones"
                  [(ngModel)]="actividad.observacion"
                  (input)="saltoLinea($index, $event)"
                ></textarea>
                <div class="invalid-feedback">*Campo obligatorio*</div>
              </div>
              <div class="field padding-bottom--24 col-md-4">
                <label for="observacion" class="required">Evidencia</label>
                <app-galeria
                  [images]="actividad.fotografias"
                  (photosEvent)="deleteFoto($index, $event)"
                ></app-galeria>
              </div>
              <div
                class="d-flex justify-content-end align-items-center mt-3 gap-2"
              >
                <!-- Input oculto para subir imágenes -->
                <input
                  type="file"
                  [id]="'fileInput' + $index"
                  class="d-none"
                  multiple
                  (change)="subirImagenes($event, $index)"
                  accept="image/*"
                />
                <!-- Botón para subir imágenes -->
                <fa-icon
                  class="btn btn-primary text-white"
                  (click)="abrirInput($index)"
                  [icon]="['fas', 'images']"
                ></fa-icon>
                <!-- Botón para abrir la cámara y asociar fotos a esta actividad -->
                <fa-icon
                  class="btn btn-info text-white"
                  (click)="openWebcamForActivity($index)"
                  [icon]="['fas', 'camera']"
                ></fa-icon>
                <button class="btn-success btn" type="submit">
                  @if(funciones.bLoad) {
                  <div class="spinner"></div>
                  } @else {
                  {{ actividad.id_actividad == 0 ? "Guardar" : "Editar" }}
                  }
                </button>
              </div>
              <div class="col-12 mt-2">
                <app-alerta
                  class="w-100"
                  (updateAlert)="actividad.alerta = $event"
                  [message]="funciones.alerta.sMessage"
                  [type]="funciones.alerta.sTipo"
                  [isVisible]="actividad.alerta"
                >
                </app-alerta>
              </div>
            </form>
          </div>
        </div>
      </div>
      } @if(cache.actividades.length > 0) {
      <div class="col-10 d-flex justify-content-end px-0">
        @if(session != null && cache.bitacora.bFinalizado == 1) {
        <button class="btn btn-danger mt-3" (click)="cerrar()">Cerrar</button>
        } @else {
        <button class="btn btn-primary mt-3" (click)="finalizarCaptura()">
          Finalizar
        </button>
        }
      </div>
      }
    </div>
  </div>
</section>
<app-loading-modal [isLoading]="isLoading"></app-loading-modal>
