/* --- Cards --- */
.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
.card-header {
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
}
// Titulo de Apartados
.actividad-title {
    color: #444;
    font-size: 18px;
    font-weight: 500;
}

/* --- Secciones de fotos --- */
.photo-section {
  background: #f9f9f9;
  padding: 16px 16px 0px 16px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  height: 100%;
  display: flex;
  flex-direction: column;

  .section-title {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;

    mat-icon {
      font-size: 20px;
      color: #2196f3;
    }
  }

  .photo-grid {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    app-galeria {
      width: 100px;
      height: 100px;
      flex-shrink: 0;
    }

    .photo-actions {
      display: flex;
      flex-direction: column;
      gap: 8px;
      min-width: 100px;
      flex-grow: 1;

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        font-size: 14px;
        padding: 6px 10px;
        white-space: nowrap;
      }
    }
  }
}

/* --- Botones --- */
.btn-primary {
  background: #2563eb;
  display: flex;
  align-items: center;
  gap: 6px;
}
.btn-outline-primary {
  border: 1px solid #2563eb;
  color: #2563eb;
}

/* --- Campos del formulario --- */
mat-form-field {
  margin-bottom: 8px;
}
::ng-deep .mdc-label {
    font-size: 16px !important;
}
::ng-deep .txt-aunt .mat-mdc-text-field-wrapper {
    height: auto !important;
}

::ng-deep #form-actividad .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
    display: none;
}
::ng-deep .ql-editor {
  font-family: 'Roboto' !important;
  font-size: 16px !important;
}