.card-margin {
    margin-bottom: 1.875rem;
}

.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}

.card .card-header.no-border {
    border: 0;
}
.card .card-header {
    background: none;
    padding: 0 0.9375rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
}
.card-header:first-child {
    border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.widget-49 .widget-49-title-wrapper {
  display: flex;
  align-items: center;
}

.widget-49 .widget-49-title-wrapper .widget-49-date {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date .widget-49-date-day {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date .widget-49-date-month {
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
  color: var(--negro);
  font-weight: 500;
  font-size: 14px;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
  color: var(--gris);
  font-weight: 400;
  font-size: 13px;
}

.widget-49 .widget-49-meeting-points {
  font-weight: 400;
  font-size: 13px;
  margin-top: .5rem;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item {
  display: list-item;
  color: #727686;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
  margin-left: .5rem;
}

.m-ene {
  color: var(--ene);
  background-color: var(--bg-ene);
}

.m-feb {
  color: var(--feb);
  background-color: var(--bg-feb);
}

.m-mar {
  color: var(--mar);
  background-color: var(--bg-mar);
}

.m-abr {
  color: var(--abr);
  background-color: var(--bg-abr);
}

.m-may {
  color: var(--may);
  background-color: var(--bg-may);
}

.m-jun {
  color: var(--jun);
  background-color: var(--bg-jun);
}

.m-jul {
  color: var(--jul);
  background-color: var(--bg-jul);
}

.m-ago {
  color: var(--ago);
  background-color: var(--bg-ago);
}

.m-sep {
  color: var(--sep);
  background-color: var(--bg-sep);
}

.m-oct {
  color: var(--oct);
  background-color: var(--bg-oct);
}

.m-nov {
  color: var(--nov);
  background-color: var(--bg-nov);
}

.m-dic {
  color: var(--dic);
  background-color: var(--bg-dic);
}