.card-title-desc {
    font-size: 16px;
    font-weight: 400;
}
.task-list {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 30px 0 0;
    border-bottom: 1px var(--crema) solid;
    p {
        margin: 0px;
    }
    li {
        margin-bottom: 30px;
        padding-left: 55px;
        position: relative;
        .task-icon {
            position: absolute;
            left: 22px;
            top: 13px;
            border-radius: 50%;
            padding: 2px;
            width: 17px;
            height: 17px;
            z-index: 2;
            -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
        }
    }
    li:last-child {
        margin-bottom: 5px;
    }
    .task-title {
        color: var(--gris) !important;
        h6 {
            font-size: 15px;
            font-weight: 500;
        }
        span {
            font-size: 14px;
            font-weight: 600;
            color: var(--gris-ligth);
        }
    }
}
.task-list:after {
    content: "";
    position: absolute;
    background: #ecedef;
    height: 93%;
    width: 2px;
    top: 0px;
    left: 30px;
    z-index: 1;
}
.task-list::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}
.task-list::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #7D818B;
    border: 3px solid #FFFFFF;
}
.task-list::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #2952BE;
    border: 3px solid #FFFFFF;
}
.card-aunt {
    border-radius: 0;
    -webkit-box-shadow: -1px 2px 5px 1px rgba(226, 222, 215, 1);
    -moz-box-shadow: -1px 2px 5px 1px rgba(226, 222, 215, 1);
    box-shadow: -1px 2px 5px 1px rgba(226, 222, 215, 1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    .card-block,
    .card-body {
        padding: 30px 20px 5px 20px;
    }
    .card-header-aunt {
        display: flex;
        gap: 15px;
        align-items: center;
        width: 100%;
        .image-header {
            width: 65px !important;
        }
        .card-title {
            margin: 0px;
            color: var(--negro);
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            h5 {
                font-size: 18px !important;
                font-weight: 500 !important;
                margin: 0px;
            }
            span {
                font-size: 13px;
                font-weight: 400;
                color: var(--gris);
            }
            .date {
                font-style: italic;
                font-weight: 500;
                font-size: 12px;
            }
        }
    }
    .bg-c-green {
        background: var(--naranja-principal);
    }
}
.card.full-card {
    z-index: 99999;
    border-radius: 0;
}
.btn_mostrar {
    text-align: center;
    text-decoration: underline;
    color: var(--link);
}
.label {
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    color: var(--gris) !important;
}
//Loading
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: var(--gris) var(--gris) transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent var(--naranja-principal) var(--naranja-principal);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 32px;
    height: 32px;
    border-color: var(--gris) var(--gris) transparent transparent;
    animation: rotation 1.5s linear infinite;
}
      
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}